#
# Watchdog timer configs
#
CONFIG_ESP_INT_WDT=y
CONFIG_ESP_TASK_WDT_EN=y
CONFIG_ESP_TASK_WDT_INIT=y
CONFIG_ESP_TASK_WDT_PANIC=y
CONFIG_ESP_SYSTEM_PANIC=ESP_SYSTEM_PANIC_PRINT_REBOOT
CONFIG_ESP_SYSTEM_PANIC_REBOOT_DELAY_SECONDS=2
